body {
    margin: 0px;
    padding: 0px;
    width: 1440px;
}

header{
    height: 144px; /*根据背景图片高度修改*/
    width: 1440px;/*根据背景图片宽度修改*/
    background-image: url(../images/head.jpg);
}

nav {
    height: 50px;
    background-color: #ec6a0e;
}

nav ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 225px;
    margin-top: 0px;
    margin-bottom: 0px;

}

nav ul li {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    
}


nav ul li a {
    font-size: 24px;
    font-weight: 400;
    line-height: 50px;
    color: #fff;
    display: block;
    text-decoration: none; /*下划线不美观 删除*/
    margin: 0 60px;
}

#container_1 {
    height: 400px;
    background-image:url(../images/backgroud.jpg);
    padding-top: 40px;
    padding-left: 40px;
}

#container_1 div.inner #content_1 {
    width: 900px;
    height: 330px;
    padding-top: 20px;
    background-color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    border-top: 4px solid #85754d;
}

#container_1 div.inner #content_2 {
    width: 400px;
    height: 330px;
    
    margin-left: 30px;
    background-image: url(../images/nantong.jpg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    border-top: 4px solid #af8f3c;
}


#container_2 {
    border-top: 4px solid white;
    height: 400px;
    background-image: url(../images/backgroud2.jpg);
    padding-top: 40px;

}

#container_2 div.inner #content{
    width: 1380px;
    height: 330px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    border-top: 4px solid #5f5f5f;
}

table {
    margin-left:      20px;
    margin-right:     20px;
    border:           thin solid black;
    caption-side:     top;
    border-collapse:  collapse;
  }
  
table table th {
    background-color: white;
}
  
td, th {
    border:           thin dotted gray;
    padding:          5px;
}
  
th {
    background-color: #e77504;
}
  
  
.cellcolor {
    background-color: #fcba7a;
}
  
  
  
  caption {
    font-style:       italic;
    font-weight:      bold;
    padding-top:      4px;
    font-size:        larger;
  }
  
  .center {
    text-align:       center;
  }
  



#footer{
    background-color: #ec6a0e;
    color: #efe5d0;
    text-align: center;
    padding: 15px;
    margin: 0px 10px 10px 10px;
    font-size: 90%;
    font-weight: bold;
    height: 30px;
}